/* 
    SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
    FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* Set color variables */
:root { 
    --primary-color: #199cdb;
    --primary-hover: #1864ab;
    --secondary-color: #d6c08d;
    --light-color: #f7f7f7;
    --light-color-2: #f1f1f1;
    --dark-color: #333;
    --rather-dark-color: #ced4da;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'open_sans', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: var(--dark-color);
}

h1  { 
    font-size: 24px;
    line-height: 3.2;
    text-transform: uppercase;
    font-weight: bold;
}

h2 { 
    font-size: 20px;
    text-transform: uppercase;
    line-height: 3.2;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 3.2;
    font-weight: bold;
}

img { 
    width: 100%;
    margin: auto;
}

a, a:link { 
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--dark-color);
    position: relative;

}

a:hover { 
    color: #000;
}

a:hover::after { 
    content:  " ";
    height: 3px;
    background-color: var(--primary-hover);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

i { 
    color: var(--dark-color);
}

a i {
    color: var(--primary-color);
}

a:hover i { 
    color: var(--primary-hover);
}

ul { 
    list-style: none;
}

section { 
    padding: 40px 0;
    position: relative;
}

/* Header */
.heading { 
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}


.heading h1 { 
    letter-spacing: 4px;
    line-height: 1.5;
}


.heading-text { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.2);
}

/* Navbar */
.navbar { 
    padding: 0;
    width: 100%;
    margin-top: -7px;
    background-color: #fff;
    position: relative;
    text-transform: uppercase;

}

.nav-menu { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.nav-menu li,
.nav-menu a { 
    /* padding: 15px 20px; */
    width: 100%;
    height: 100%;
    text-align: center;

    
}

.nav-menu a { 
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-left: var(--light-color) 1px solid;
    border-right: var(--light-color) 1px solid;
}

.nav-info { 
    
    padding: 0 10px;
}

.nav-info h3 { 
    margin: 0;
    margin-top: 15px;
    line-height: 1.2;
}

.nav-info p { 
    font-size: 12px;
    letter-spacing: 0.5px;
    display: block;
}

.avatar { 
    width: 150px;
    height: 150px;
    border: #fff 4px solid;
    border-radius: 50%;
    overflow: hidden;
}

/* About */
#about::before { 
    width: 50%;
    content: ' ';
    background-color: var(--light-color-2);

    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#about .container { 
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-item { 
    z-index: 100;
    padding: 20px 20px;
}

.information { 
    grid-template-columns: 80px 1fr;
    row-gap: 5px;
}

.socials { 
    margin-top: 20px;
    font-size: 18px;
}

.socials a { 
    margin: 0 8px;
}

.socials a:hover::after { 
    display: none;
}


/* job info */

#job-info .flex { 
    align-items: flex-start;
}

#job-info .card { 
    float: left;
}

#job-info ul {
    margin-left: -20px;
    list-style: '-   ';
}

/* clear fix */
.clearfix::after { 
    content: "";
    display: block;
    clear: both;
}

.card#languages::after { 
    display: none;
}

/* BỐ CỤC PHẦN SỞ THÍCH */

.hobby { 
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 0;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
}

.hobby > div { 
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 10px;
    text-align: center;
}

.hobby i { 
    font-size: 16px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

/* Certificates */
.cert-items { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;

}

.cert-item { 
    display: flex;
    gap: 10px;
    font-size: 11px;
    /* line-height: 1.5; */

    position: relative;

}

.cert-item--image { 
    width: 200px;
}

.cert-item:nth-child(even):before {
    content: " ";
    width: 1px;
    height: 100%;
    background-color:  var(--secondary-color);
    position: absolute;
    top: 0;
    left: -20px;
    display: block;
}

.cert-item:nth-child(odd)::before {
    content: " ";
    width: 209%;
    height: 1px;
    position: absolute;
    top: -20px;
    left: 0;
    display: block;
    background-color: var(--secondary-color);
}

.cert-item:first-child::before { 
    display: none;
}

.cert-item .title { 
    font-weight: bold;
    font-size: 13px;
}

.cert-item .title { 
    margin-bottom: 5px;
}

.cert-item ul { 
    list-style: "- ";
    margin-left: -20px;
    font-size: 13.5px;
}

/* Projects */
#project .flex { 
    align-items: flex-start;
    gap: 20px;
}

#project .card .img {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

#project .card > *,
#project .card tr { 
    border-bottom: var(--light-color) 1px solid;
    padding: 10px;
    font-size: 14px;
}

#project .card > *:first-child { 
    padding: 0;
}

#project .card-title { 
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

#project .card .card-title { 
    margin-bottom: 0;
}

#project .card .categories { 
    display: flex;
    gap: 20px;
}

#project .card td { 
    border-bottom: none;
    padding: 10px 0;
}

#project .card tr:last-child { 
    border-bottom: none;
}

#project .card .labels { 
    width: 95px;
    display: flex;
    align-content: flex-start;
    border-bottom: none;
    text-indent: 10px;
}

#project ul {
    list-style: '-  ';
    margin-left: -20px;
    margin-bottom: 0;
}

#project table { 
    border-collapse: collapse;
}
/* card items */

.card { 
    width: 300px;
    border: 1px solid var(--light-color-2);
    color: var(--dark-color);
    padding: 20px 30px;
    margin: 10px;
}

.card-0 {
    padding: 0;
    margin: 0;
}

.card::after { 
    clear: both;
}

.card-title { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card-title i { 
    font-size: 28px;
}

.card-tile h2 { 
    font-size: 16px;
    line-height: 0.8;
}

.card-content { 
    line-height: 1.8;
}

/* timeline item */
.timeline {     
    width: 93%;
    margin: 20px 0 20px auto;
}

.timeline-title {    
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 0px;
    position: relative;
}


.timeline-title::before { 
    content: " ";
    width: 5px;
    height: 5px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: 10px;
    transform: translateY(-50%);
    left: -20px;
}

.timeline-time { 
    font-size: 13px;

}

.timeline-details { 
    line-height: 1.5;
}

/* Points */
.point {
    margin-top: -6px;
    margin-bottom: 10px;
}

.point span {
    width: 45px;
    height: 2px;
    background-color: var(--light-color);
    display: inline-block;
    margin-right: 10px;
}

.inter span:nth-child(-n+2) {
    background-color: var(--primary-color);
}

.fund span:first-child { 
    background-color: var(--primary-color);
}


/* now highlint */
.now { 
    padding: 3px 15px;
    border-radius: 100px;
    background-color: var(--primary-color);
    color: #fff;
    font-style: italic;
}

/* footer */
footer .contact {
    padding: 25px 0;
    margin: 0 auto;
}

footer .contact a { 
    padding: 25px 30px;
    font-size: 12px;
}

footer .contact a i { 
    font-size: 20px;
}

.copyright { 
    text-align: center;
    font-size: 8px;
    color: #000;
    letter-spacing: 1.4;
    margin-bottom: 15px;
}


/* Tables and under */
@media(max-width: 868px) {
    body { 
        font-size: 12px;
    }

    /* Tùy chỉnh thanh heading */
    .heading img { 
        height: 120%;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .heading-text {
        bottom: 5px;
    }

    /* tùy chỉnh navbar */
    .navbar .avatar,
    .navbar .nav-info { 
        display: none;
    }

    .nav-menu li:nth-child(2) { 
        margin-right: 40px;
    }

    .nav-menu li { 
        display: flex;
        justify-content: center;
    }


    .nav-menu a i {
        order: -1;
    }

    /* Tùy chỉnh phần about */
    section#about,
    section#about .container {
        padding: 0;
    }

    section#about .container { 
        grid-template-columns: 1fr 1fr;
    }

    section#about::before { 
        display: none;
    }

    section#about  .about-item:nth-child(2) { 
        background-color: var(--light-color-2);
    }

    .about-item { 
        padding: 40px ;
    }

    /* Tùy chỉnh phần certificate */
    .cert-item { 
        flex-direction: column;
        height: auto;
    }

    .cert-item--image {
        width: 100%;
    }

    #project .flex { 
        justify-content: flex-start;
    }
    
}




/* Mobile */
@media(max-width: 500px) {
    /* navbar */
    .navbar .flex { 
        flex-direction: column;
    }

    .nav-menu { 
        flex-direction: column;
        padding: 0;
        gap: 0;

    }

    .nav-menu li,
    .nav-menu li:nth-child(2) {
        width: 100%;
        margin: 0;
        padding: 0;
        
    }

    .nav-menu a { 
        justify-content: flex-start;
        text-align: left;
        margin: 0;
        padding: 8px 30px;

    }

    /* about & information */
    section#about > .grid { 
        grid-template-columns: 1fr;
    }

    /* certificate */
    .cert-items {
        grid-template-columns: 1fr;
    }

    .cert-item:nth-child(odd)::before,
    .cert-item:nth-child(even)::before {
        content: " ";
        width: 100%;
        height: 1px;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        background-color: var(--secondary-color);
    }

    .cert-item:first-child::before {
        display: none;
    }

    #project .flex { 
        justify-content: center;
    }


    /* footer */
    /* hide the text */
    footer .contact a { 
        margin: 0;
        padding: 25px 0;
    }

    .contact a i {
        font-size: 48px;
    }

    footer .contact a span {
        display: none;
    }
}